<html>
<head>
  <title>Houki</title>
  <script src="https://unpkg.com/alpinejs@3.7.1/dist/cdn.min.js" defer></script>
  <script src="/static/js/main.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1/dist/tailwind.min.css" rel="stylesheet" type="text/css"/>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@1.13.0/dist/full.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container mx-auto">
  <div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content">
    <div class="flex-none px-2 mx-2">
      <a href="/proxy/">
        <span class="text-lg font-bold">🧹 Houki</span>
      </a>
    </div>
  </div>

  <!--</body>-->
  <!--</html>-->
