{{ template "base/header" . }}

<div class="flex-col justify-center lg:flex-row">
  <div class="card flex-shrink-0 w-full shadow-xl bg-base-100">
    <div class="card-body">
      <div class="align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div x-data="{address: 'localhost:8899'}">
          <label class="label"><span class="label-text">Proxy Address</span></label>
          <input type="text" name="Address" class="input input-sm input-bordered" x-bind:value="address">
          {{ if .Enabled }}
          <button x-data @click="stopProxy" class="btn btn-secondary btn-sm">Stop proxy</button>
          <button x-data @click="openBrowser" class="btn btn-ghost btn-sm">Open Browser</button>
          {{ else }}
          <button @click="startProxy(address)" class="btn btn-primary btn-sm">Start proxy</button>
          {{ end }}
        </div>

        <div class="pb-4 pt-8">
          <a class="btn" href="/modules/new">New Module</a>
          <button x-data @click="reloadModule" class="btn btn-ghost">Reload Module</button>
        </div>
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                ID
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Title
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Enabeled
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Created At
              </th>
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            {{ range .Modules }}
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{ .ID }}</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{ .Body.Title }}</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{ .Enabled }}</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                <div class="text-sm text-gray-900">{{ .CreatedAt }}</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{ if eq .Enabled true }}
                <button x-data @click="disableModule('{{ .ID }}')" class="btn btn-sm btn-warning">Disable</button>
                {{ else }}
                <button x-data @click="enableModule('{{ .ID }}')" class="btn btn-sm btn-success">Enable</button>
                {{ end }}
                <a class="btn btn-sm btn-primary" href="/modules/{{ .ID }}">Edit</a>
                <button x-data @click="deleteModule('{{ .ID }}')" class="btn btn-sm btn-error">Delete</button>
              </td>
            </tr>
            {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{{ template "base/footer" . }}
